@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

.body {
    background-color: #7A7A7A;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.main {
    height:80vh ;
    width:50vw;
    background-color: #FFFFFF;
    display: flex;

}

.image {
    display: flex;
    flex-direction: column;
    width: 45%;
    height:100%;
}

.content {
    width: 55%;
    height:100%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.big {
    height: 55%;
}

.small {
    height: 45%;
}

.button {
    color: #FFFFFF;
    background-color: #01BB0A;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 700;
    padding: 10px 0px 10px 0px;
    margin-bottom: 40px;
}

.t1 {
    color: #333333;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 5px;
}

.t2 {
    color:#0ABF04;
    font-size: 13px;
    font-weight: 400;
}

.t3 {
    color: #FB792B;
    font-size: 13px;
    font-weight: 400;
    margin-left: 5px;
}

.t4 {
    color: #213D77;
    font-size: 13px;
    font-weight: 400;
    margin-left: 5px;
}

.title {
    margin-left: 40px;
}

.sub-button {
    display: flex;
    height: 15.2px;
    gap:8px;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 4px;
}

.sub2,.sub3 {
    border: 1px solid #B2B2B2;
    color: #333333;
}

.sub1 {
    background-color: #213D77;
    color: #FFFFFF;
}

.sub1,.sub2,.sub3 {
    font-size: 6.8px;
    font-weight: 900;
    letter-spacing: 0.2px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    padding-top:9px;
    padding-left: 6px;
    padding-bottom: 8px;
    padding-right: 6px;
}

.menu {
    display: flex;
    align-items: center;
    height:30px;
    gap:10px;
    margin-left: 40px;
    margin-bottom: 15px;
}

.ima1,.ima2 {
    width:30px;
}

.right {
    font-size: 6px;
    display: flex;
    flex-direction: column;
    margin-left: 45px;
}

.ri5,.ri6 {
    border: 1px solid #dbd8d8;
    margin-left: 5px;
}

.ri4 {
    background-color: #FB792B;
    color: #FFFFFF;
}

.ri2,.ri3 {
    margin-left: 10px;
    margin-bottom: 10px;
}

.ri4,.ri5,.ri6 {
    padding: 3px 5px 3px 5px;
    border-radius: 2px;
}

.up {
    margin-bottom: 7px;
}

.sign {
    color:#B2B2B2;
}

.arrow {
    border: 1px solid #f1eded;
    border-radius: 50%;
    width: 20px;
    /* padding: 2px; */
    margin-left: 30px;
    margin-right: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sym {
    color: #B2B2B2;
}

.train {
    display: flex;
    margin-left: 40px;
    align-items: center;
    padding: 5px 10px 5px 10px;
    border: 1px solid #f1eded;
    width: fit-content;
    padding-right: 20px;
    border-radius: 5px;
    margin-bottom: 6px;
}

.bigger {
    font-size: 10px;
    font-weight: 900;
    padding-bottom: 3px;
}

.smaller {
    font-size: 6.7px;
    display: flex;
    align-items: center;
    padding-bottom: 2px;
    font-weight: 900;
    color: #8a8888;
}

.to {
    margin-left: 4px;
}

.sym1 {
    margin-left: 15px;
}

.sym2 {
    margin-left: 30px;
}

.t2 {
    margin-bottom: 20px;
}